html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {}

@media (min-width: 1025px) {}

@media (min-width: 1440px) {}