html,
body {
  margin: 0;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  font-style: normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.notice {
  height: 48px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar {
  height: 56px;
  position: sticky;
  top: 48px;
  z-index: 999;
}

.carosel {
  height: 667px;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

footer {
  padding-bottom: 120px;
  border-top: 1px solid #dddddd;
  padding-top: 28px;
}

@media (min-width: 501px) {
  /*M*/
}

@media (min-width: 768px) {
  /*L*/

  .carosel {
    height: 667px;
  }
}

@media (min-width: 1025px) {
  /*XL*/

  .notice {
    height: 36px;
    top: 0;
  }

  .navbar {
    height: 48px;
    top: 36px;
  }

  .carosel {
    height: 560px;
  }

  footer {
    padding-top: 40px;
  }
}

@media (min-width: 1440px) {
  /*XXL*/

  .notice {
    height: 40px;
    top: 0;
  }

  .navbar {
    height: 54px;
    top: 40px;
  }
}